@using Core.Models;
@inject IHtmlLocalizer<UomoMacchina.Areas.Rimborsi.Data.RimborsiViewModel> ModelLocalizer
@model UomoMacchina.Areas.Rimborsi.Data.RimborsiViewModel

@* Index di Rimborsi *@
@{
 
}
<div class="row justify-content-start align-items-center">
    <div class="col">
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#tabellaRimborsi" aria-expanded="false" aria-controls="tabellaRimborsi"><h1>Rimborsi</h1></button>
    </div>
    <div class="col">
        <ul class="navbar-nav flex-wrap ms-auto">
            <li>
                <a class="Nuovo btn btn-light ms-2" href="@Url.Action(MVC.Rimborsi.Rimborsi.New())" title="Inserisci un nuovo elemento">
                    <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="tabellaRimborsi" class="text-center collapse multi-collapse">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Importo (€)
                </th>
                <th>
                    Data
                </th>
                <th>
                    Commessa
                </th>
                <th>
                    Carta Aziendale
                </th>
                <th>
                    Dettagli
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="model.rimborsi.rimborsi.length == 0">
                <td scope="row" colspan="5">
                    Nessun elemento trovato
                </td>
            </tr>
            <tr v-for="rimborso in model.rimborsi.rimborsi" v-on:click='navigateToEdit(rimborso.id, "Rimborsi")'>
                
                <td class="text-nowrap">
                    {{rimborso.importo}}
                </td>
                <td class="text-nowrap">
                    {{rimborso.data}}
                </td>
                <td class="text-nowrap">
                    {{rimborso.commessa}}
                </td>
                <td class="text-nowrap">
                    {{rimborso.cartaAziendale}}
                </td>
                <td class="text-nowrap">
                    {{rimborso.dettagli}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <nav class="navbar navbar-expand justify-content-md-center">
                        <ul class="navbar-nav flex-wrap"><partial name="@MVC.Shared.Views._PagingPartial" model="Model" /></ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}

@section scripts {
    
}
