@page
@model Web.Areas.Example.Users.SidebarModel
@{
}

<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Offcanvas navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <!--Mese-->
                 <div class="mesi d-flex flex-row">

                <div class="mese d-flex justify-content-around ">
                <i class="fa-solid fa-caret-left fa-2x"></i>
                <h3>Gennaio</h3>
                <i class="fa-solid fa-caret-right fa-2x"></i>

                </div>

                <div class="calendario">
                <i class="fa-regular fa-calendar-days fa-2x"></i>
                </div>

                </div>
                

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">                    

                    <!-- Settimana 01-07 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Settimana 01-07
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Giorni -->
                                <div class="container1 d-flex flex-column justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a  href="#">Lunedì 01</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>

                                    </div>                                
                                </div>

                                 <div class="progress-stacked">
                                <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                                <div class="progress-bar"></div>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                <div class="progress-bar bg-success"></div>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <div class="progress-bar bg-info"></div>
                                </div>
                                </div> 

                                
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Martedì 02</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Mercoledì 03</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Giovedì 04</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Venerdì 05</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Sabato 06</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a  href="#">Domenica 07</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                                     
                        </ul>
                    </li>

                    <!-- Settimana 08-14 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Settimana 08-14
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Giorni -->
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Lunedì 08</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Martedì 09</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Mercoledì 10</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Giovedì 11</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Venerdì 12</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Sabato 13</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Domenica 14</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                                        
                        </ul>
                    </li>

                    <!-- Settimana 15-21 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Settimana 15-21
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Giorni -->
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Lunedì 15</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Martedì 16</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Mercoledì 17</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Giovedì 18</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Venerdì 19</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Sabato 20</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Domenica 21</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                                        
                        </ul>
                    </li>

                    <!-- Settimana 22-28 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Settimana 22-28
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Giorni -->
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a  href="#">Lunedì 22</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Martedì 23</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Mercoledì 24</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Giovedì 25</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Venerdì 26</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Sabato 27</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a  href="#">Domenica 28</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                                        
                        </ul>
                    </li>

                    <!-- Settimana 29-31 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Settimana 29-31
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Giorni -->
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Lunedì 29</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Martedì 30</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="container1 d-flex justify-content-between align-items-center">
                                    <div class=" dropdown-item container2 d-flex flex-row  ">
                                        <a href="#">Mercoledì 31</a>
                                        <div class="prova1">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-check"></i>

                                        </div>
                                        <div class="prova2">
                                            <i class="fa-regular fa-square"></i>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                                        
                        </ul>
                    </li>

                </ul>                
            </div>
        </div>
    </div>
</nav>


@section styles {
    <link href="~/css/Sidebar.css" rel="stylesheet" />
}

</div>