@using Core.Models;
@inject IHtmlLocalizer<UomoMacchina.Areas.Rendicontazioni.Data.RendicontazioniViewModel> ModelLocalizer
@model UomoMacchina.Areas.Rendicontazioni.Data.RendicontazioniViewModel

@* Index di Rendicontazioni *@
@{

}

<div class="row justify-content-start align-items-center">
    <div class="col">
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#tabellaRendicontazioni" aria-expanded="true" aria-controls="tabellaRendicontazioni"><h1>Rendicontazioni</h1></button>
    </div>
    <div class="col">
    <ul class="navbar-nav flex-wrap ms-auto">
        <li>
            <a class="Nuovo btn btn-light ms-2" href="@Url.Action(MVC.Rendicontazioni.Rendicontazioni.New())" title="Inserisci un nuovo elemento">
                <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
            </a>
        </li>
    </ul>
    </div>
</div>
<div id="tabellaRendicontazioni" class="row text-center collapse show multi-collapse">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Ore Totali
                </th>
                <th>
                    Data
                </th>
                <th>
                    Ora Inizio
                </th>
                <th>
                    Ora Fine
                </th>
                <th>
                    Commessa
                </th>
                <th>
                    Dettagli
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="model.rendicontazioni.rendicontazioni.length == 0">
                <td scope="row" colspan="5">
                    Nessun elemento trovato
                </td>
            </tr>

            <tr v-for="rendicontazione in model.rendicontazioni.rendicontazioni" v-on:click='navigateToEdit(rendicontazione.id, "Rendicontazioni")'>

                <td class="text-nowrap">
                    {{rendicontazione.oreTotali}}
                </td>
                <td class="text-nowrap">

                    {{rendicontazione.data.split('T')[0]}}

                </td>
                <td class="text-nowrap">
                    {{rendicontazione.oraInizio.split('T')[1]}}
                </td>
                <td class="text-nowrap">
                    {{rendicontazione.oraFine.split('T')[1]}}
                </td>
                <td class="">
                    {{rendicontazione.commessa}}
                </td>
                <td class="">
                    {{rendicontazione.dettagli}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <nav class="navbar navbar-expand justify-content-md-center">
                        <ul class="navbar-nav flex-wrap"><partial name="@MVC.Shared.Views._PagingPartial" model="Model" /></ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}

@section scripts {

    <script type="module">

        Vue.createApp({
            data() {
                return {
                    message: 'Vue Funziona!',
                    permesso: false,
                    feria: false
                }
            },
            methods: {
                formatDate(dateString) {
                    const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                    return new Date(dateString).toLocaleDateString(undefined, options);
                },
                formatTime(timeString) {
                    return new Date(`1970-01-01T${timeString}`).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                },
                navigateToEdit(id, type) {
                    // Implementazione della tua funzione navigateToEdit
                }
            }
        }).mount('#pageId')
    </script>



}
