@using Core.Models;
@inject IHtmlLocalizer<UomoMacchina.Areas.Rendicontazioni.Data.RendicontazioniViewModel> ModelLocalizer
@model UomoMacchina.Areas.Rendicontazioni.Data.RendicontazioniViewModel

@* Index di Rendicontazioni *@
@{

}
@* <div class=""> *@

<div class="row align-items-center">

    <i class=" col-auto fa fa-square fa-2x "></i>
    <h1 class="col-6" data-bs-toggle="collapse" data-bs-target="#tabellaRendicontazioni" aria-expanded="true" aria-controls="tabellaRendicontazioni">Rendicontazioni</h1>
    <a class="col-2 btn btn-light" v-on:click='navigateToEdit(null, "Rendicontazioni", dataNew)' title="Inserisci un nuovo elemento">
        <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
    </a>
</div>

<div id="tabellaRendicontazioni" class="row text-center collapse show">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Data
                </th>
                <th>
                    Ore Totali
                </th>
                <th>
                    Ora Inizio
                </th>
                <th>
                    Ora Fine
                </th>
                <th>
                    Straordinario
                </th>
                <th>
                    Commessa
                </th>
                <th>
                    Dettagli
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="model.rendicontazioni.rendicontazioni.length == 0">
                <td scope="row" colspan="7">
                    Nessun elemento trovato
                </td>
            </tr>

            <tr v-for="rendicontazione in model.rendicontazioni.rendicontazioni" v-on:click='navigateToEdit(rendicontazione.id, "Rendicontazioni", rendicontazione.data)'>

                <td class="text-nowrap">
                    {{rendicontazione.data.split('T')[0]}}
                </td>
                <td class="text-nowrap">
                    {{rendicontazione.oreTotali}}
                </td>
                <td class="text-nowrap">
                    {{rendicontazione.oraInizio.split('T')[1]}}
                </td>
                <td class="text-nowrap">
                    {{rendicontazione.oraFine.split('T')[1]}}
                </td>
                <td class="text-nowrap">
                    {{rendicontazione.straordinario ? 'Si' : 'No'}}
                </td>
                <td class="text-wrap">
                    {{rendicontazione.commessa}}
                </td>
                <td class="text-wrap">
                    {{rendicontazione.dettagli}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <nav class="navbar navbar-expand justify-content-md-center">
                        <ul class="navbar-nav flex-wrap"><partial name="@MVC.Shared.Views._PagingPartial" model="Model" /></ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}
