// Used to be able to edit values of bootstrap scss and css variables
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

$prova: #42b983;
$prova2: #ff0000;
$bg-rendicontazione: #00ff00; //colore verde
$bg-permesso: #ff8d00; //colore arancione
$bg-trasferta: #9700ff; //colore viola
$bg-straordinario: #2552ff; //colore blu
$bg-libero: #808080; //colore grigio
$bg-rimborso: #ffff00;