.Prototipo {
  display: none !important;
}

/*
.TabellaGenerale {
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
}

.TabellaPrincipale {
    border-bottom-style: groove;
    background-color: lightgray;
}


.TabellaDati {
    border-bottom-style: groove;
}

.colonne {
    border-right-style: groove;

}
*/
