.Annulla {
  margin-right: 5%;
}

.Invia {
  margin-left: 1%;
}

.Salva {
  margin-top: 4%;
}

.Elimina {
  margin-top: 4%;
}

.Prototipo {
  display: none !important;
}

/*
.TabellaGenerale {
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
}

.TabellaPrincipale {
    border-bottom-style: groove;
    background-color: lightgray;
}


.TabellaDati {
    border-bottom-style: groove;
}

.colonne {
    border-right-style: groove;

}
*/
