@using Core.Models;
@inject IHtmlLocalizer<UomoMacchina.Areas.Trasferte.Data.TrasferteViewModel> ModelLocalizer
@model UomoMacchina.Areas.Trasferte.Data.TrasferteViewModel

@* Index di Trasferte *@
@{
 
}
<ul class="navbar-nav flex-wrap ms-auto">

    <li>
        <a class="Nuovo btn btn-light ms-2" href="@Url.Action(MVC.Trasferte.Trasferte.New())" title="Inserisci un nuovo elemento">
            <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
        </a>
        @* <a class="modifica btn btn-light ms-2" title="Modifica un elemento">
            <i class="fa-solid fa-plus"></i>&nbsp;Modifica
        </a>
        <a class="elimina btn btn-light ms-2" title="Elimina un elemento" href="@Url.Action(MVC.Trasferte.Trasferte.Delete())">
            <i class="fa-solid fa-plus"></i>&nbsp;Elimina
        </a> *@
    </li>
</ul>

<h1>Trasferte</h1>
<div class="text-center">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Chilometri (Km)
                </th>
                <th>
                    Data Inizio
                </th>
                <th>
                    Data Fine
                </th>
                <th>
                    Commessa
                </th>
                <th>
                    Auto Aziendale
                </th>
                <th>
                    Dettagli
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="model.trasferte.trasferte.length == 0">
                <td scope="row" colspan="5">
                    Nessun elemento trovato
                </td>
            </tr>
            <tr v-for="trasferta in model.trasferte.trasferte" v-on:click='navigateToEdit(trasferta.id, "Trasferte")'>
                <td class="text-nowrap">
                    {{trasferta.chilometri}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.dataInizio}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.dataFine}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.commessa}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.autoAziendale ? 'Si' : 'No'}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.dettagli}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <nav class="navbar navbar-expand justify-content-md-center">
                        <ul class="navbar-nav flex-wrap"><partial name="@MVC.Shared.Views._PagingPartial" model="Model" /></ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}

@section scripts {
    
}
