@using Core.Models;
@inject IHtmlLocalizer<UomoMacchina.Areas.Trasferte.Data.TrasferteViewModel> ModelLocalizer
@model UomoMacchina.Areas.Trasferte.Data.TrasferteViewModel

@* Index di Trasferte *@
@{
 
}

@* Utilizzo meta viewport dove tramite content:"device-width" mi fa regolare la dimensione del sito in base a quanto è largo
    in modo da poter visualizzare da computer a mobile
*@
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>


<div class="row align-items-center">

    <i class=" col-auto fa fa-square fa-2x "></i>
    <h1 class="col-6" data-bs-toggle="collapse" data-bs-target="#tabellaTrasferte" aria-expanded="true" aria-controls="tabellaTrasferte">Trasferte</h1>
    <a class="col-2 btn btn-light" v-on:click='navigateToEdit(null, "Trasferte", dataNew)' title="Inserisci un nuovo elemento">
        <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
    </a>
</div>

<div id="tabellaTrasferte" class="row text-center collapse">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Data Inizio
                </th>
                <th>
                    Data Fine
                </th>
                <th>
                    Ora Inizio
                </th>
                <th>
                    Ora Fine
                </th>
                <th>
                    Chilometri (Km)
                </th>
                <th>
                    Auto Aziendale
                </th>
                <th>
                    Commessa
                </th>
                <th>
                    Dettagli
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="model.trasferte.trasferte.length == 0">
                <td scope="row" colspan="8">
                    Nessun elemento trovato
                </td>
            </tr>
            <tr v-for="trasferta in model.trasferte.trasferte" v-on:click='navigateToEdit(trasferta.id, "Trasferte")'>
                
                <td class="text-nowrap">
                    {{trasferta.dataInizio.split('T')[0]}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.dataFine.split('T')[0]}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.oraInizio.split('T')[1]}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.oraFine.split('T')[1]}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.chilometri}}
                </td>
                <td class="text-nowrap">
                    {{trasferta.autoAziendale ? 'Si' : 'No'}}
                </td>
                <td class="text-wrap">
                    {{trasferta.commessa}}
                </td>
                <td class="text-wrap">
                    {{trasferta.dettagli}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <nav class="navbar navbar-expand justify-content-md-center">
                        <ul class="navbar-nav flex-wrap"><partial name="@MVC.Shared.Views._PagingPartial" model="Model" /></ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}

@section scripts {
    
}
