@inject IHtmlLocalizer<UomoMacchina.Areas.NottiFuori.Data.NottiFuoriViewModel> ModelLocalizer
@model UomoMacchina.Areas.NottiFuori.Data.NottiFuoriViewModel

@* Index di NottiFuori *@
@{
 
}
<ul class="navbar-nav flex-wrap ms-auto">

    <li>
        <a class="Nuovo btn btn-light ms-2" href="@Url.Action(MVC.NottiFuori.NottiFuori.New())" title="Inserisci un nuovo elemento">
            <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
        </a>
        @* <a class="modifica btn btn-light ms-2" title="Modifica un elemento">
            <i class="fa-solid fa-plus"></i>&nbsp;Modifica
        </a>
        <a class="elimina btn btn-light ms-2" title="Elimina un elemento" href="@Url.Action(MVC.NottiFuori.NottiFuori.Delete())">
            <i class="fa-solid fa-plus"></i>&nbsp;Elimina
        </a> *@
    </li>
</ul>


<h1>NottiFuori</h1>
<div class="text-center">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Tipo Viaggio
                </th>
                <th>
                    Data
                </th>
                <th>
                    Commessa
                </th>
                <th>
                    Dettagli
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="model.nottiFuori.nottiFuori.length == 0">
                <td scope="row" colspan="5">
                    Nessun elemento trovato
                </td>
            </tr>
            <tr v-for="notteFuori in model.nottiFuori.nottiFuori">
                
                <td class="text-nowrap">
                    {{notteFuori.tipoViaggio}}
                </td>
                <td class="text-nowrap">
                    {{notteFuori.data}}
                </td>
                <td class="text-nowrap">
                    {{notteFuori.commessa}}
                </td>
                <td class="text-nowrap">
                    {{notteFuori.dettagli}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <nav class="navbar navbar-expand justify-content-md-center">
                        <ul class="navbar-nav flex-wrap"><partial name="@MVC.Shared.Views._PagingPartial" model="Model" /></ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}

@section scripts {
    
}
